.feedback-section {
  text-align: center;
  padding: 20px;
  display: flex; /* Add this to make the section a flex container */
  flex-direction: column; /* Stack title and subtitle vertically */
  align-items: center; /* Center horizontally */
}

.section-title {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 500;
  color: #416D3D;
  margin-bottom: 3px;
}

.section-subtitle {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #898989;
  max-width: 443px;
  margin: 0 auto;
}


.shadow-effect {
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    background: #F6FFFA;
    box-shadow: 0px 28.93px 61.56px 0px #15151526;
    margin-top: 50px;
}

/* Testimonial carousel item styling */
.item {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.item p {
color: #454F5C;
font-weight: 400;
}

/* Testimonial paragraph styling */
.shadow-effect p {
    font-family:' Work Sans';
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #000000;
margin: 8px;
}

.img-rating {
  display: flex;
  justify-content: space-between;
}

.rating {
  vertical-align: middle;
}

.star {
  fill: #407550;
  width: 20.37px;
height: 20.37px;
gap: 0px;
border-radius: 0.73px 0px 0px 0px;
}

.card-footer {
  display: flex;
  justify-content: space-between; /* Space between left and right content */
  align-items: center; /* Center align items vertically */
  margin-top: 20px;
}

.testimonial-name {
  display: flex;
  flex-direction: column; /* Stack the name and role vertically */
  text-align: left; /* Align text to the left */
  margin-left: 7px;
}

.testimonial-name h6 {
  float: left;
  font-family: Work Sans;
font-size: 14px;
font-weight: 600;
line-height: 16.42px;
text-align: left;
color: #000000;
margin: 0;
}

.testimonial-name p {
  font-family: Work Sans;
font-size: 10px;
font-weight: 400;
line-height: 11.73px;
text-align: left;
color: #505050;
margin: 0;
}

.testimonial {
  color:#202020;
  font-weight: bold;
}

.thumb {
  width: 16.66px;
  height: 16.66px;
  border-radius: 50%;
  background-color: #0059CC;
  fill: white;
  padding: 3px;
  margin-right: 3px;
}

/* Active item scaling effect */
.owl-item.active.center .item {
    opacity: 1;
    transform: scale(1.0);

}

.owl-item.active.center .item p {
  color: #000000;
  font-weight: 500;
}

/* Styling for testimonial images */
.owl-carousel .owl-item img {
    width: 75.75px;
    height: 75.75px;
    border-radius: 50%;
    margin-top: -25%;
}

/* Dots styling */
.owl-dots {
    text-align: center;
    width: 100%;
}

.owl-dot {
    display: inline-block;
}

.owl-dot span {
    background: #3190E7;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    display: inline-block;
    transform: scale(0.3);
    transition: all 250ms ease-out;
}

/* Active dot styling */
.owl-dot.active span,
.owl-dot:hover span {
    background: #3190E7;
    transform: scale(0.7);
}