/* RegistrationButton.css */
.regButton {
    position: relative;
    width: 185px;
    height: 45px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 0px #9999991A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Change cursor to pointer */
}

.regButton span {
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.11px;
    text-align: center;
    color: #416D3D;
    margin-left: 8px; /* Add space between image and text */
}

.button-icon {
    width: 20px; /* Set the desired width for the icon */
    height: 20px; /* Set the desired height for the icon */
}

.right-arrow {
    width: 20px; /* Adjust as necessary */
    height: 20px; /* Adjust as necessary */
    margin-left: 8px; /* Space between text and arrow */
}
