@import "../../assets/scss/media";
.Reg-form {
  background-image: url(../../../public/images/full-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 2rem;
  margin: auto;

  .heading {
    h6 {
      font-family: "Work Sans";
      font-size: 3rem;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
      padding: 2rem;
    }
  }

  .form-fields {
    padding: 2rem;

    .container {
        width: 70%;
    }

    .input {
      height: 45px;
      font-size: 16px;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #eb1a1a;
      background-color: #ccc;
      @include mid-991-tab {
        height: 40px;
        margin-bottom: 4px;
      }
    }

    .form-control,
    .form-select {
      font-size: 16px;
      font-weight: 400;
      background-color: beige;
      //   border-radius: 15px;
      padding: 1rem;
    //   width: 63%;
      height: 50px;
    }

    label {
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;
      margin-bottom: 5px;
    }

    select,
    option,
    ::placeholder {
      font-size: 1.5rem;
      font-weight: 500;
      color: #a7a3a3;
    }

    .form-select:disabled {
      background-color: #c2c0c0;
      color: #888;
      cursor: not-allowed;
    }

    .error-msg{
      font-size: 1.5rem;
      color: #ccc;
      font-weight: 500;
    }
  }

  .reg-btn {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem; 
    button {
      background-color: #075d9a;
      color: #ffffff;
      border: none;
      border-radius: 0.5rem;
      font-family: "Work Sans";
      font-size: 2rem;
      font-weight: 500;
      cursor: pointer;
      width: 17%;
      height: 42px;
    //   margin: auto;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    }
  }
}
