.navBarSection {
  width: 100%;
  z-index: 1000;
  background-color: #025B9A;
  display: block;
  position: sticky;
  top: 17rem;
  transition: top 0.8s;
}
.navBarSection.topClass {
  background-color: #025B9A;
}

.navbar {
  width: 100%;
}
.navbar .navbar-toggler {
  position: absolute;
  right: 12px;
  width: 5.1rem;
  height: 4rem;
  color: #fff;
}
.navbar .navWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 360px) {
  .navbar .navWrap .logoWrap img {
    width: 200px;
  }
}
@media (max-width: 1366px) {
  .navbar .navWrap .menu {
    width: 60%;
  }
}
.navbar .navWrap .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .navbar .navWrap .navbar-collapse {
    background: linear-gradient(90deg, rgb(2, 91, 154) 0%, rgb(3, 49, 81) 100%);
    display: block;
    height: 100%;
    left: -100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    position: fixed;
    top: 0;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1) 0.1s !important;
    width: 50%;
    z-index: 999999;
    width: 60%;
  }
  .navbar .navWrap .navbar-collapse.show {
    left: 0;
  }
}
.navbar .navWrap .navbar-collapse .navbar-nav {
  gap: 2rem;
}
@media (max-width: 991px) {
  .navbar .navWrap .navbar-collapse .navbar-nav .nav-item {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navWrap .navbar-collapse .navbar-nav .dropdown-item {
    font-size: 1.5rem;
    text-align: center;
  }
}
.navbar .navWrap .navbar-collapse .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 991px) {
  .navbar .navWrap .navbar-collapse .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .navWrap .navbar-collapse .nav-link .col-md-6 {
    flex: 0 0 auto;
    width: 60%;
  }
}

.leftBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1366px) {
  .leftBox {
    gap: 1rem;
  }
}
@media (max-width: 1024px) {
  .leftBox {
    gap: 0.4rem;
  }
}
.leftBox .searchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}
@media (max-width: 1366px) {
  .leftBox .searchWrap {
    width: 7rem;
    height: 7rem;
  }
  .leftBox .searchWrap img {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .leftBox .searchWrap {
    width: 7rem;
    height: 7rem;
  }
  .leftBox .searchWrap img {
    width: 50%;
  }
}
.leftBox .register-btn {
  background-color: #FFFFFF;
  height: 39px;
  width: 115px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #075d9a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5rem;
  padding: 0;
  border: 0;
}
@media (max-width: 1024px) {
  .leftBox .register-btn {
    font-size: 1.2rem;
    height: 3.5rem;
    width: 10rem;
  }
  .leftBox .register-btn span img {
    height: 1.4rem;
  }
}
@media (max-width: 991px) {
  .leftBox .register-btn {
    display: none;
  }
}
.leftBox .iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1366px) {
  .leftBox .iconWrap img {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .leftBox .iconWrap img {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .deskBox .searchWrap {
    position: absolute;
    right: 6rem;
  }
}
@media (max-width: 991px) and (max-width: 480px) {
  .deskBox .searchWrap {
    right: 4.5rem;
  }
}
@media (max-width: 991px) {
  .deskBox .iconWrap {
    display: none;
  }
  .deskBox .btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobBox {
    display: none;
  }
}
@media (max-width: 991px) {
  .mobBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin: 6%;
  }
}
@media (max-width: 480px) {
  .mobBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 6%;
  }
}
@media (max-width: 991px) {
  .mobBox .searchWrap img {
    display: none;
  }
  .mobBox .iconWrap img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (max-width: 991px) and (max-width: 480px) {
  .mobBox .iconWrap img {
    width: 3rem;
    height: 3rem;
  }
}
.mobBox .btn {
  cursor: pointer;
}
@media (max-width: 991px) {
  .mobBox .btn {
    width: 40%;
    border: 2px solid #fff;
    font-size: 2.5rem;
    border-radius: 22px;
    color: #fff;
    font-family: "Work Sans";
    font-weight: 500;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .mobBox .btn {
    font-size: 2rem;
  }
}
@media (max-width: 991px) and (max-width: 480px) {
  .mobBox .btn {
    width: 60%;
    font-size: 1.9rem;
  }
}
@media (max-width: 991px) {
  .mobBox .btn img {
    width: 1.5rem;
    height: 6rem;
  }
}
@media (max-width: 991px) and (max-width: 480px) {
  .mobBox .btn img {
    width: 1.2rem;
    height: 3.5rem;
  }
}

.menu-btn-1 {
  height: 4px;
  width: 34px;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  margin-top: 0px;
  display: none;
}
@media (max-width: 991px) {
  .menu-btn-1 {
    display: block;
  }
}
.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
  background: #fff;
  border-radius: 3px;
  content: "";
  position: absolute;
  width: 34px;
  height: 5px;
  margin-top: 0;
  transition: 0.3s ease-in-out;
}
.menu-btn-1 span::before {
  margin-top: -12px;
}
.menu-btn-1 span::after {
  margin-top: 12px;
}
.menu-btn-1.active span {
  background: transparent;
}
.menu-btn-1.active span::before {
  margin-top: 0;
  transform: rotate(45deg);
}
.menu-btn-1.active span::after {
  margin-top: 0;
  transform: rotate(-45deg);
}/*# sourceMappingURL=Navigation.css.map */