* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.333%;
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
  }
  
  .carousel-inner {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px 0;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    position: relative;
    pointer-events: none;
  }
  
  .carousel-inner::-webkit-scrollbar {
    display: none;
  }
  
  .d-flex {
    display: flex;
    gap: 5px;
  }

  
  .scoreboard {
    border-radius: 5px 0px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #6CAC44;
    box-shadow: 0px 10px 20px 0px #9999991A;
  }
  
  .match-info {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .team-name1 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6C6C6C;
    white-space: nowrap;
    width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .team-vs {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #6C6C6C;
}

  .team-name2 {
    font-size: 14px;
    font-weight: 500;
    color: #6C6C6C;
    white-space: nowrap;
    width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;  
  }
  
  .team-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .team-left {
    flex-direction: row;
  }

  .team-logo1 {
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    border: 0.85px solid #4764DA;
    border-radius: 50%;
}

.score-details {
  margin-left: 10px;
  text-align: left;
  width: 59px;
}

.runs {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.11px;
  letter-spacing: 0.02em;
  color: #231F20;
  height: 21px;
  width: auto;
  margin-bottom: 5px;
}

.runs, .overs {
  display: block;
  text-align: left;
}

.overs {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.77px;
  color: #B7B7B7;
  width: auto;
  height: 19px;
  margin-top: 5px;
}

.score-vs {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: #231F20;
  width: 16px;
  height: 17px;
}

.team-logo2 {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #6A0913;
  border-radius: 50%;
}

.team-right {
    flex-direction: row-reverse;
  }

.stadium-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background: #EBF0FF;
  }
  
  .stadium-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-align: left;
    color: #555353;
    width: 176px;
}
  
  .live-status {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    width: 35px;
    height: 17px;
    color: #E40B21;
    margin-right: 15px;
  }

  /* Custom Carousel Controls */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 45px; 
    z-index: 1;
  }
  
  .carousel-control.next {
    right: 45px;
    }