@import "../../../assets/scss/media";
.titleText {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0 3rem 0;
  
    h6 {
      font-family: 'Work Sans', sans-serif;
      font-size: 3.4rem;
      font-weight: 500;
      color: #416D3D;
      margin-bottom: 3px;
      @include mid-991-tab{
        font-size: 3.2rem;
      }
    }
  
    p {
      font-family: 'Exo 2', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #898989;
      max-width: 443px;
      margin: 0 auto;
    }
  }
  