.feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-tenniscricket {
    text-align: center;
    padding: 20px;
  }
  
  .why-tenniscricket h2 {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work Sans';
    font-size: 40px;
    font-weight: 500;
    color: #416D3D;
    margin-bottom: 3px;
  }
  
  .tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
  }
  
  .tab-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #666;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    border-bottom-color: #D9D9D9;
  }
  
  .tab-menu a.active {
    color: #0E5623;
    border-bottom-color: #0E5623;
  }
  
  /* .feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: radial-gradient(55.71% 50% at 50% 50%, #D0F4FF 0%, #D4FFE8 100%);
    border-radius: 10px;
  } */

  .feature-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
  }

  .feature-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
  }
  
  .feature-card {
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #D4FFE8;
  }
  
  .feature-card .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .feature-card h3 {
    margin-bottom: 5px;
    font-family: 'Work Sans';
font-size: 22px;
font-weight: 500;
line-height: 25.81px;
text-align: center;
color: #0E5623;

  }
  
  .feature-card p {
    margin-bottom: 20px;
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.01em;
text-align: center;
color: #898989;

  }
  
  .phone-display {
    margin: 0 20px;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .phone-display img {
    max-width: 100%;
    border-radius: 30px;
    
  }
  
  @media screen and (max-width: 768px) {
    .feature-section {
      flex-direction: column;
    }
  
    .phone-display {
      width: 250px;
      height: 400px;
      margin-bottom: 20px;
    }
  
    .feature-card {
      width: 100%;
      max-width: 300px;
    }
  }

  /* ToggleSwitch.css */

.toggle-container {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.2s;
  }
  
  .toggle-inner {
    display: none;
  }
  
  .toggle-label .toggle-switch {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  /* Change styles when the toggle is checked */
  .toggle-checkbox:checked + .toggle-label {
    background-color: #16921a;
  }
  
  .toggle-checkbox:checked + .toggle-label .toggle-switch {
    transform: translateX(30px);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    margin-right: 0;
  }
  
  
  