@import "../../../assets/scss/media";
@import "../../../assets/scss/mixin";
.bg-img {
  position: relative;
  background-image: url(../../../../public//images/DownloadAppContainer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin: -5.9rem 0 -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  @include d-desktop {
    background-image: unset;
    background: linear-gradient(
      90deg,
      rgba(58, 98, 62, 1) 19%,
      rgba(84, 143, 57, 1) 100%
    );
    padding: 6rem 0 2rem;
    margin: 5.1rem 0 0;
  }
  @include mid-991-tab{
    // padding: 2rem 0 4rem;
  }
  .midSectionWrap {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bannerContentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8rem;
    width: 100%;
  }
  .stats-details {
    display: flex;
    justify-content: space-between;
    @include mid-991-tab{
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.acheivement {
  position: absolute;
  left: 0.5rem;
  top: -12%;
  @include d-1280-desktop {
    top: -2%;
  }
  @include mid-991-tab{
    display: none;
    &.acheivement{
      position: absolute;
      left: 0.5rem;
      top: -12%;
      
    }
  }
}

.acheivement-btn {
  width: 193px;
  height: 46px;
  border-radius: 22px;
  border: 1px solid #0e5623;
  display: flex;
  justify-content: center;
  align-items: center;
  @include d-desktop{
    border-color: #fff;
  }
}

.acheivement-btn button {
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
  color: #416d3d;
  @include d-desktop{
    color: #fff;
  }
}

.stats-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  @include mid-991-tab{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
 h2 {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  @include mid-991-tab{
    font-size: 3.2rem;
  }
}
}

.stats-info p {
  font-size: 20px;
  font-weight: 500;
  color: #d7d2d2;
  margin-bottom: 2rem;
  // width: 80%;
  @include mid-991-tab{
    text-align: center;
    font-size: 1.6rem;
    color: #d7d2d2;
  } 
}

.stat-item {
  width: 171.31px;
  height: 59px;
  margin-bottom: 50px;
 h3 {
  font-family: 'Work Sans';
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
  @include mid-991-tab{
    font-size: 2.2rem;
  }
}
 p {
  font-family: 'Work Sans';
  font-size: 18px;
  color: #d9d9d9;
  @include mid-991-tab{
    font-size: 1.6rem;
  }
}
}

.stats-left,
.stats-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.download-button {
  width: 193px;
  height: 46px;
  border-radius: 22px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.download-button {
  color: #416d3d;
  font-size: 20px;
  font-family: "Work Sans";
  font-weight: 600;
  @include mid-991-tab{
    display: none;
    // font-size: 1.6rem;
    // position: absolute;
    // bottom: -16px;
    // left: 39rem;
   }
}

.download-button img {
  width: 18px;
  height: 19px;
  color: #416d3d;
}
