@import "../../assets/scss/media";
.tab-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabs-container {
  background-color: #f5f5f5;
}

.tabs {
  width: 88%;
  height: 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 22px;
  background-color: #fff;
  margin: 5rem auto 1rem;

  button {
    flex: 1; // Equal width for all buttons
    background-color: #fff;
    color: #8c8c8c;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: Work Sans;
    border-radius: 22px;

    &.active {
      background-color: green;
      color: white;
      border-radius: 22px;
    }
  }
}

.tab-content {
  padding: 20px;
  margin-top: -1px;

  div {
    display: none;

    &.active {
      display: block;
    }
  }
}

.dropdown-city {
    font-size: 20px;
    font-weight: normal;
    color: #8c8c8c;
    font-family: Work Sans;
    display: flex;
    gap: 10px;
    margin: 3rem 9rem 3rem;
  
    select {
      font-size: 20px;
      color: #8c8c8c;
      width: 145px;
      height: 42px;
      border-color: #8c8c8c;
      border-radius: 21px;
    }
  
    option {
      font-size: 20px;
      color: #8c8c8c;
      font-family: Work Sans;
      text-align: center;
    }
  button {
    background: none;
    border: none;
  }
}
