@import "../../assets/scss/media";

body {
  background-color: #f5f5f5;
}

.dashboard {
  margin: 1rem 0;
  @include x-767-tablet {
    margin: 1rem 2rem;
  }
}

.tab-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.tabs-container {
  background-color: #f5f5f5;
}

.tabs {
  height: 44px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 22px;
  background-color: #fff;
  margin: 5rem auto 5rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #1D7336;
  @include x-tablet {
    width: 88%;
  }

  &::-webkit-scrollbar {
    height: 10px; // Horizontal scrollbar height
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #416D3D;
    border-radius: 10px;
  }

  button {
    flex: 0 0 auto; // Prevent buttons from growing/shrinking
    min-width: 100px; // Set a minimum width for each button
    background-color: #fff;
    color: #8c8c8c;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: 'Work Sans';
    border-radius: 22px;
    margin-right: 1rem; // Add spacing between buttons

    &.active {
      background-color: #1D7336;
      color: white;
      border-radius: 22px;
    }
  }
}

.tab-content {
  padding: 20px;
  margin-top: -1px;

  div {
    display: none;

    &.active {
      display: block;
    }
  }
}

.dropdown-city {
  font-size: 20px;
  font-weight: normal;
  color: #8c8c8c;
  font-family: 'Work Sans';
  display: flex;
  gap: 10px;
  margin: 3rem;
  @include x-tablet {
    font-size: 1.8rem;
  }
  @include mobile {
    font-size: 1.8rem;
  }

  select {
    font-size: 1.8rem;
    color: #8c8c8c;
    width: 145px;
    height: 42px;
    border-color: #8c8c8c;
    border-radius: 21px;
    color: #1D7336;
    @include x-tablet {
      width: 120px;
      height: 35px;
      font-size: 1.8rem;
    }
  }

  option {
    font-size: 1.8rem;
    color: #8c8c8c;
    font-family: 'Work Sans';
    text-align: center;
    color: #1D7336;
    @include x-tablet {
      font-size: 1.8rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }
  }

  button {
    background: none;
    border: none;
  }
}
