@import "../../assets/scss/mixin";
.login-form {
  background-image: url(../../../public/images/full-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 45.5rem;

  h6 {
    @include formHeadingTypo;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
  }

  .form-fields {
    margin: 2rem;

    .btm-text {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      .otp-btn {
        font-size: 1.5rem;
        color: #fff;
      }
    }

    .otp-txt {
      display: grid;
      justify-content: flex-end;
      padding-right: 2rem;
    }

    .form-check {
      font-size: 1.5rem;
      color: #fff;
      margin-left: -2rem;
      .form-check-label {
        margin-left: 0.5rem;
      }
    }

    .col {
      a {
        font-size: 1.5rem;
        color: #fff;
      }
    }

    .input-field {
      width: 29%;
      .form-label {
        @include formLabelTypo;
      }
      .form-control {
        @include inputTypo;
      }
      .textdanger {
        @include formErrorMsgTypo;
      }
    }

    .text-center {
      display: flex;
      justify-content: center;
      gap: 6rem;
      .paragraph {
        padding-top: 1rem;
      }
      p,
      a {
        @include anchotTagTypo;
      }
      a:hover {
        color: #f39c12;
        text-decoration: underline;
      }
    }
    .sign-in {
      margin-top: 2rem;
      button {
        @include formButtonTypo;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
