* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    // max-width: 1260px;
  }
}

.warp{
  position: relative;
}

header{
  position: absolute;
  top: -3%;
  width: 100%;
}